@media (max-width: 1340px) {
  .row {
    .cell .content {
      & > h5 {
        padding-top: 12px;
      }

      .countdown-timer {
        .time-number {
          width: 35px;
          h3 {
            font-size: 2.2rem;
            &:first-child, &:last-child {
              font-size: 1.3rem;
            }
          }
        }
        .time-unit {
          padding: 0 4px;
          h5 { font-size: 12px; }
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .row {
    .cell .content {
      & > h5 {
        font-size: 2em;
        padding-top: 30px;
      }

      .countdown-timer {
        .time-number {
          width: 70px;
          h3 {
            font-size: 4.4rem;
            &:first-child, &:last-child {
              font-size: 2.6rem;
            }
          }
        }
        .time-unit {
          padding: 0 8px;
          h5 { font-size: 24px; }
        }
      }

      &.time h1#time {
        font-size: 8.0rem;
      }
    }

    .sponsor-grid {
      grid-gap: 30px;
      .sponsor-wrapper {
        padding: 18px;
      }
    }
  }
}

@media (min-width: 2180px) {
  .row {
    .cell .content {
      & > h5 {
        font-size: 2em;
        padding-top: 40px;
      }

      .countdown-timer {
        .time-number {
          width: 95px;
          h3 {
            font-size: 6.0rem;
            &:first-child, &:last-child {
              font-size: 3.4rem;
            }
          }
        }
        .time-unit {
          padding: 0 12px;
          h5 { font-size: 36px; }
        }
      }

      &.time h1#time {
        font-size: 12.0rem;
      }
    }
  }  
}