@import './variables.scss';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.dashboard-wrapper {
  background-color: #017680;
  height: 100%;
  width: 100%;

  .dashboard {
    background-image: url('../assets/cave.svg');
    background-position: 50% 70%;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .top-row {
      height: 33.33333%;

      .time {
        .ts {
          display: table;
          margin: auto;

          h1, h3 {
            margin: 0;
          }

          .a, .b {
            display: table-cell;
            vertical-align: middle;
          }
          .b {
              color: $light-blue-text;
              h3 {
                font-size: 1.4em;
                margin-left: 20px;
              }
          }
        }
      }

      .logo-square {
        position: relative;
        img {
          display: block;
          height: 50%;
          margin: auto;
          position: relative;
          top: 25%;
        }
      }
    }
    .bottom-row {
      height: 66.66666%;

      .events-wrapper {
        height: 100%;
        overflow: hidden;

        h5 {
          margin-bottom: 6px;
        }

        .event {
          background-color: #153F4B;
          height: 70px;
          font-size: 14px;
          margin: 0 8px 6px 8px;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
        
          p {
            margin-bottom: 0;
            margin-left: 10px;
          }

          .location {
            color: #40B3C3;
            font-size: 11px;
          }
        }
      }

      .vsplit {
        display: flex;
        flex-direction: column;
      }

      .announcements {
        overflow: hidden;

        .announcement {
          background-color: #153F4B;
          height: 70px;
          font-size: 14px;
          margin: 0 8px 6px 8px;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
        
          p {
            margin-bottom: 0;
            margin-left: 10px;
          }
        }
        h5 {
          margin-bottom: 6px;
        }
      }
    }
  }
}

@import "announcements";
@import "cell";
@import "_responsive";
@import "sponsors";
@import "times";
