@import './variables.scss';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.dashboard-wrapper {
  background-color: #017680;
  height: 100%;
  width: 100%;

  .dashboard {
    background-image: url('../assets/cave.svg');
    background-position: 50% 70%;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .top-row {
      height: 33.33333%;

      .time {
        .ts {
          display: table;
          margin: auto;

          .a, .b {
            display: table-cell;
            vertical-align: middle;
          }
          .b {
              color: $light-blue-text;
              h3 {
                font-size: 1.4em;
                margin-left: 20px;
              }
          }
        }
      }

      .logo-square {
        position: relative;
        img {
          display: block;
          height: 50%;
          margin: auto;
          position: relative;
          top: 25%;
        }
      }
    }
  }
}

@import "cell";
@import "times";
